* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #cacaca;
}
button {
  font-size: medium;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 60px;
  border-radius: 5px;
}
.navbar {
  /* width: 100vw; */
  margin: 50px;
  padding: 50px;
  place-self: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;

  grid-column: 1/-1;
}
.grid {
  flex-wrap: wrap;
  background-color: white;
  /* border: 1px solid black; */
}
/* .grid:hover {
  background-color: rgb(197, 32, 32);
} */

.left_side {
  /* background-color: aqua; */
  display: grid;
  place-content: center;
  gap: 40px;
}
.right_side {
  place-self: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.container {
  display: grid;
  width: 500px;
  height: 500px;
}
#colorPicker {
  /* padding-left: 40px;
   */
  place-self: center;
}

button:hover {
  background-color: black;
  color: white;
}
